@{
    Layout = "~/Views/Shared/_LayoutTopLeft.cshtml";
}

<div class="sysAct">
    <div class="options clearfix">
        <div class="col-md-2"><a class="btn btn-default" href="@Url.Action("Active")">激活</a></div>
        <div class="col-md-7">当前激活码：3333333333</div>
        <div class="col-md-3">激活时间：2017-01-01 15：00</div>
    </div>
    <div class="myModule">
        <ul>
            <li class="li1">
                <h4>同步教学资源库</h4>
                <div class="iconContent"></div>
            </li>
            <li class="li2">
                <h4>电影课</h4>
                <div class="iconContent"></div>
            </li>
            <li class="li3">
                <h4>课例集</h4>
                <div class="iconContent"></div>
            </li>
            <li class="li4">
                <h4>我的云盘</h4>
                <div class="iconContent"></div>
            </li>
            <li class="li5">
                <h4>云课堂</h4>
                <div class="iconContent"></div>
            </li>
            <li class="li6">
                <h4>导学</h4>
                <div class="iconContent"></div>
            </li>
            <li class="li7">
                <h4>授课</h4>
                <div class="iconContent"></div>
            </li>
            <li class="li8">
                <h4>作业</h4>
                <div class="iconContent"></div>
            </li>
            <li class="li9">
                <h4>评价</h4>
                <div class="iconContent"></div>
            </li>
            <li class="li10">
                <h4>教学统计</h4>
                <div class="iconContent"></div>
            </li>
        </ul>
    </div>
</div>